{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="static/css/insta.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" style="margin-left: 220px">
            {% for img in images %}
            <div class="home-images">

                <img src="{{img.image_pic.url}}" alt="Image">
                <p>{{img.image_name}}</p>
                <ul class="list-inline home-text">
                    <li class="list-inline-item">
                        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-comment-o fa-2x"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>

                <ul class="list-inline home-list">
                    <li class="list-inline-item">
                        {% autoescape on %}
                        <p>{{img.image_caption|safe}} </p>
                        {% endautoescape %}
                    </li>
                </ul>

            </div>
            {% empty %}
            <h2>No images. Follow some people to see their images</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}