<div class="navbar fixed-top bg-white">
    <nav class="container">
        <a class="smooth-scroll" href="/"><i class="fa fa-instagram fa-3x"> | </i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <p style="font-family: 'Billabong', cursive; font-size: 30px; text-align: center;
        ">insta</p>
        <span class="navbar-brand mb-0 h1">
            <a href="/">
                <div id="brand" class="instaicon logo d-none d-sm-block"></div>
                <div class="instaicon mainicon d-block d-sm-none"></div>
            </a>
        </span>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}">
            <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block"
                placeholder="Search">
            <i class="spinner "></i>
        </form>
        {% if user.is_authenticated %}

        <div class="btn-group" style="margin-right: 10px;">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Account
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{%url 'home'%}">Home</a>
                <a class="dropdown-item" href="{%url 'new-image'%}">Post</a>
                <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                <a class="dropdown-item" href="accounts/logout">Logout</a>
                <a class="dropdown-item" href="{% url 'profile' user.username %}">Profile</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        {% else %}
        <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
            <a class='btn btn-default' href="/accounts/register">Sign Up</a>
        </li>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <h6>{{user}}<h6>
            </li>
        </ul>
</div>
</nav>
</div>